@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }


}


.with-margin-bottom {
    margin-bottom: 10px;
}


.container {
    margin-left: 0;
    margin-right: auto;
}